page-home {
    
    .button1 {
        border-radius: 50%;
        margin: auto;
        display: block;
        padding: 50px;
        margin-top: 50%;
    }

    .spinner1 {
        margin: auto;
        display: block;
        margin-top: 50%;
    }

}
